.container {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.bee-list {
  display: flex;
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.bee-name {
  height: 50px;
  width: 150px;
  margin: 10px 0px 10px 0px;
}
