<fieldset>
  <legend>Create New Bee</legend>
  <form #beeForm="ngForm">
    <div>
      <input name="name" input='text' placeholder="Name" [(ngModel)]="bee.name">
    </div>
    <div>
      <input name="genus" input='text' placeholder="Genus" [(ngModel)]="bee.genus">
    </div>
    <div>
      <input name="description" input='text' placeholder="Description" [(ngModel)]="bee.description">
    </div>
    <div>
      <input name='image_url' input='text' placeholder="Image URL" [(ngModel)]="bee.image_url">
    </div>
    <div class="deadly-select">
      <label for="deadly-select">Is this Bee Deadly?</label>
      <select id="deadly-select" name='deadly' [(ngModel)]="bee.deadly">
        <option value='true'>true</option>
        <option value='false'>false</option>
      </select>
    </div>
    <button class='sky-btn sky-btn-primary' [disabled]="!beeForm.form.valid" (click)="submitBee(bee)">Submit</button>
  </form>
</fieldset>
