<div class="detail-container">

  <div class="image"><img [src]='bee.image_url'></div>

  <div class="name">
    <h2>{{ bee.name }}</h2>
  </div>

  <div class="genus">
    <h4>Genus: {{ bee.genus }}</h4>
  </div>

  <div *ngIf="bee.deadly" class="deadly">This bee is Deadly!</div>

  <div class="description">
    <p>{{ bee.description }}</p>
  </div>

  <div class="edit">
    <button class="sky-btn sky-btn-default">Edit</button>
  </div>

  <div class="delete">
    <button class="sky-btn sky-btn-primary" (click)="deleteBee(bee)">Delete</button>
  </div>

</div>

<!-- <app-bee-edit></app-bee-edit> -->
